3GPP-GGSN-Address AVP - malformed AVP

Hi guys,

I'm seeing a strange issue with the 3GPP-GGSN-Address AVP:

        {
            "code": 7,
            "name": "3GPP-GGSN-Address",
            "vendorId": 10415,
            "type": "IPAddress",
            "flags": {
                "mandatory": true,
                "protected": true,
                "mayEncrypt": true,
                "vendorBit": true
            }
        }

Wireshark is telling me that the AVP is Malformed. But what is strange, is that I've also the SGSN-Address AVP within the same avp-group and this one works fine:

                ['Service-Information', [
                    ['PS-Information', [
                        ['Called-Station-Id', 'internet.dhimobile'],
                        ['3GPP-GPRS-Negotiated-QoS-Profile', '08-58090002666700026667'],
                        ['3GPP-GGSN-Address', '1.2.3.4'],
                        ['SGSN-Address', '1.2.3.4'],

Have you seen this before? Again, it only happens with this particular AVP. I can see it correctly on the server side.

Thanks,
Luís

<img width="919" alt="Screenshot 2020-05-07 at 15 18 40" src="https://user-images.githubusercontent.com/37806453/81299058-f2f5f480-9075-11ea-944e-eb6bebc41856.png">


Can you try changing the order of the AVPs, so that SGSN-Address comes before 3GPP-GGSN-Address in the array?

I get the same issue on the same header:

![image](https://user-images.githubusercontent.com/37806453/81324396-357bf900-9097-11ea-8ef9-b471c7f37dac.png)


I'm going to assume it could be a problem with Wireshark's dictionary. It seems like it's trying to parse that AVP as a 4 octet IPv4 address while the value is actually 6 octets (has the type and length headers).

https://github.com/wireshark/wireshark/blob/3a514caaf1e3b36eb284c3a566d489aba6df5392/radius/dictionary.3gpp#L26

> I can see it correctly on the server side

Do you mean that the AVP goes between the peers fine and it's just that Wireshark is complaining about it?

Hi guys! I was finally able to test against another Diameter Server. It also doesn't like this AVP and also complains:

![image](https://user-images.githubusercontent.com/37806453/81939166-42986b00-95f6-11ea-9889-fe525ce9a208.png)

So it is not just a wireshark thing.

There seems to be something wrong.

Thanks,
Luís

Hey guys! Any update on this? I'm getting the same error with another AVP (Framed-IP-Address AVP). However, in this case, the server doesn't accept my request and replies with DIAMETER_INVALID_AVP_LENGTH..

Thanks,
Luís



Really strange... If I remove the initial typeBuffer, everything works.... I have made the test with the Framed-IP-Address with the value "10.20.1.1":

             if(value == '10.20.1.1')
                return new Buffer(ip.toString().split('.'));

            if (ip.kind() === 'ipv4') {
                typeBuffer.writeUInt8(1, 1);
                return Buffer.concat([typeBuffer, new Buffer(ip.toString().split('.'))]);
            } else {
                typeBuffer.writeUInt8(2, 1);
                return Buffer.concat([typeBuffer, new Buffer(ip.toByteArray())]);
            }

Wireshark doesn't complain, the remote server doesn't complain, but... this doesn't make sense, since the  RFP clearly states that they are needed..

   Address

      The Address format is derived from the OctetString Basic AVP
      Format.  It is a discriminated union representing, for example, a
      32-bit (IPv4) [RFC0791] or 128-bit (IPv6) [RFC4291] address, most
      significant octet first.  The first two octets of the Address AVP
      represent the AddressType, which contains an Address Family,
      defined in [IANAADFAM].  The AddressType is used to discriminate
      the content and format of the remaining octets.


I encountered the same issue with Framed-IP-Address.

I think the problem here is that this particular AVP is "borrowed" from RADIUS definition, which is simply a 4-octet value (RFC 7155 Section 4.4.10.5.1 > RFC 2865 Section 5.8), and it is NOT of the type IPAddress but OctetString.

I guess 3GPP-GGSN-Address (and 3GPP-SGSN-Address which failed for in my case) would be the same case.

A simple change of the dictionary type from "IPAddress" to "OctetString" fixed my Framed-IP-Address use case, but of course you need to change the way to fill the value:

In dictionary.json
```
        {
            "code": 8,
            "name": "Framed-IP-Address",
            "vendorId": 0,
            "type": "OctetString",
            "flags": {
                "mandatory": true,
                "protected": true,
                "mayEncrypt": true,
                "vendorBit": false
            }
        },
```

In your calling routine
```
    ccri.body = ccri.body.concat([
        [ 'CC-Request-Type', 'INITIAL_REQUEST' ],
        [ 'CC-Request-Number', 0 ],
        [ 'Called-Station-Id', 'pgw.test.com' ],
        [ 'Access-Network-Charging-Address', '11.12.13.14' ], // this one is fine because it is of type IPAddress
        //[ 'Framed-IP-Address', '10.83.97.101' ],
        [ 'Framed-IP-Address', new Uint8Array([0x0a, 0x53, 0x61, 0x65]) ], // 10, 83, 97 and 101 in hex
        [ 'User-Equipment-Info', [
            [ 'User-Equipment-Info-Type', 'IMEISV' ],
            [ 'User-Equipment-Info-Value', new Uint8Array([0x53, 0x02, 0x46, 0x01, 0x00, 0x40, 0x16, 0x10]) ]
        ]],
```

I'm still confused. How is Wireshark OK with this while this lib is not? We're importing the Diameter dictionary from Wireshark.

Here it is in [Wireshark's RADIUS dictionary](https://github.com/wireshark/wireshark/blob/3a514caaf1e3b36eb284c3a566d489aba6df5392/radius/dictionary.3gpp#L27):

```
ATTRIBUTE	3GPP-GGSN-Address			7	ipaddr
```

And in [Wireshark's Diameter dictionary](https://github.com/wireshark/wireshark/blob/251d41e07c1cb79541f8390c2698a0a5884dc047/diameter/TGPP.xml#L31):

```
	<avp name="3GPP-GGSN-Address" code="7" mandatory="must" may-encrypt="yes" protected="may" vendor-bit="must" vendor-id="TGPP">
		<type type-name="IPAddress"/>
	</avp>
```

I found [a similar issue mentioned on Stack Overflow](https://stackoverflow.com/questions/40617429/diameter-encoding-of-ipaddress-type-and-wireshark) and somebody pointed out that the issue might be a missing M (mandatory) flag. But the Diameter dictionary entry is already marked with a mandatory.

Actually Wireshark is NOT okay, please check luisfilsilva's Wireshark screenshot: it says "Bad Address Length". Although the Wireshark XML shows that they of the same type, they are indeed parsed differently:

<img width="940" alt="Screenshot 2020-08-18 at 00 08 53" src="https://user-images.githubusercontent.com/12792968/90418107-45b86100-e0e7-11ea-8760-ab7de9b687f7.png">
This example encapsulates a Gx CCR,

- Access-Network-Charging-Address(501): Diameter AVP type of IPAddress, so 2 bytes of type + remaining bytes for IPv4/IPv6
- Framed-IP-Address(8): RADIUS Definition, just 4 bytes for an IPv4 address
- 3GPP-SGSN-Address(6): RADIUS Definition, just 4 bytes for an IPv4 address
- AN-GW-Address(1050): Diameter AVP type of IPAddress, so 2 bytes of type + remaining bytes for IPv4/IPv6

If we take a closer look from other 3GPP specification (for example [this one](https://infocenter.nokia.com/public/7750SR150R1A/index.jsp?topic=%2Fcom.sr.Gx%2Fhtml%2Fgx_avp.html)), you can see that Framed-IP-Address is not of the same type as AN-GW-Address: Framed-IP-Address is just an OctetString of 4 bytes length, while AN-GW-Address is an IPv4Address. Looking at the RFC (quoted above), the Framed-IP-Address (and 3GPP-SGSN-Address/3GPP-GGSN-Address) is defined in the RADIUS RFC but not "native" to Diameter.

Hi How it got solved getting same error . @luisfilsvia 